<!-- Herencia de base.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
    {% for object in object_list %}
        <div class="col-4">
            <!-- {{ object.title }} -->

                <div class="card" style="width: 18rem;">
                    <!-- object.thumbnail.url, obtenemos la url estática de la imagen del post -->
                    <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- se pasa el get_absolute_url definido en modelo Post -->
                        <a href="{{ object.get_absolute_url }}">
                            <h5 class="card-title">{{ object.title }}</h5>
                        </a>
                        <!-- truncatechars para indicar cuantos caracteres de contenido a mostrar -->
                        <p class="card-text">{{ object.content|truncatechars:40 }}</p>
                        <hr/>
                        <p>
                            <!-- para ver cantidad de visualizaciones, likes y comments -->
                            <!-- fontawesome/start.com , para kitcode -->
                            <!-- se definen funciones en modelo de Post -->
                            <span><i class="fas fa-thumbs-up"></i>{{ object.get_view_count }}</span>
                            <span><i class="fas fa-eye"></i>i>{{ object.get_like_count }}</span>
                            <span><i class="fas fa-comments"></i>{{ object.get_comment_count }}</span>
                        </p>
                    </div>
                </div>

        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}