<!-- Herencia de base.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
    {% for object in object_list %}
        <div class="col-4">
            <!-- {{ object.title }} -->
            <!-- se pasa el get_absolute_url definido en modelo Post -->
            <a href="{{ object.get_absolute_url }}">
                <div class="card" style="width: 18rem;">
                    <!-- object.thumbnail.url, obtenemos la url estática de la imagen del post -->
                    <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <!-- truncatechars para indicar cuantos caracteres de contenido a mostrar -->
                        <p class="card-text">{{ object.content|truncatechars:40 }}</p>
                        <hr/>
                        <p>
                            <!-- para ver cantidad de visualizaciones, likes y comments -->
                            <!-- fontawesome/start.com , para kitcode -->
                            <span>view count</span>
                            <span>like count</span>
                            <span>comment count</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}